.sidebar {
  padding: 10px;
  width: 15%;
  height: 100vh;
  color: white;
  border-right: 1px solid black
}

.sideBgprimary {
  background-color: #0B5ED7 !important;
}

.sideBgsecondary {
  background-color: #5C636A !important;
}

.sideBgwarning {
  background-color: #FFC107 !important;
}

.sideBginfo {
  background-color: #31D2F2 !important;
}

.tCap {
  text-transform: capitalize !important;
}

.pad15 {
  padding: 15px;

}

.txtsd {
  text-shadow: 2px 2px 5px #ff0000;
}

.padTop15 {
  padding-top: 15px;

}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


a:link, a:visited {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  width: 100%;
  color: white;
}

input[type='radio'] {
  box-shadow: 0 0 0 2px gray;
}